<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>HEROES</h2>
      <ul class="heroes">
        <li *ngFor="let hero of heroes$ | async" [class.selected]="hero.id === selectedId">
          <a [routerLink]="['/detail', hero.id]">
            <span class="badge">{{ hero.id }}</span
            >{{ hero.name }}
          </a>
        </li>
      </ul>
      <button routerLink="/sidekicks">Go to sidekicks</button>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
