<app-navbar [title]="title"></app-navbar>
<main role="main" class="container">
  <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</main>
